body{
     margin: 0;
     font-family: 'Times New Roman', Times, serif;
     background-color: beige;
     text-align: center;
     padding-top: 1rem;
}
header{
     float: left;
     background-color: crimson;  
     font-size: x-large;
     background-size: cover;
}
header a{
     text-decoration: none;
     color:azure;
     padding-left: 0.5vw;
     padding-right: 0.5vw;
 }
h1{
     font-size: 5rem;
}
.hello img{
     width: 10%;
}
.contact{
     padding-top: 8in;
}
