body{
     margin: 0;
     font-family: 'Times New Roman', Times, serif;
     background-color: beige;
     text-align: center;
     padding-top: 1rem;
}
ul{
     display: flex;
     background-color: black; 
     align-items: center;
     font-size: x-large;
     background-size: cover;
     padding: 1.2vw;
}
li{
     float: left;
}
li a{
     display: block;
     color: aliceblue;
     text-align: left;
     padding: 25px;
     text-decoration: none;
}
h1{
     font-size: 5rem;
}
.hello img{
     width: 10%;
}
.contact{
     padding-top: 8in;
}
