body{
     margin: 0;
     font-family: 'Times New Roman', Times, serif;
     background-color: ghostwhite;
     text-align: center;
     padding-top: 1rem;
}
ul{
     display: flex;
     background-color: coral; 
     align-items: center;
     font-size: x-large;
     background-size: cover;
     padding: 1.2vw;
     margin: 0;
}

li a{
     display: block;
     color: white;
     text-align: left;
     padding: 25px;
     text-decoration: none;
     margin: 0;
}
h1{
     font-size: 5rem;
}
.contact{
     padding-top: 8in;
     padding-bottom: 1in;
}
.basketball{
     padding-top: 3;
     width: 15%;
     border-radius: 50%;
}
